*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 25px;
    border-bottom: 2px solid black;
    padding: 20px;
}

/* --------------------Nav-------------------- */
header {
    position: sticky;
    left: 0;
    top: 0;
}

nav {
    background-color: #1A222f;
    padding: 5px 0px; 
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

nav .nav-links ul {
    margin-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links ul img {
    margin-left: 30px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50px;
}

nav .nav-links ul li a {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 15px;

}

nav div ul li a:hover {
    background-color: #D5DCE5;
    border: 1px solid;
    border-radius: 10px;
}

/* --------------------Empressa informações-------------------- */

main{
    background-image: url(../img/fundo\ empresa.png);
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
    
}

.formatacao{
    width: 900px;
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid;
}

.formatacao ul{
    list-style-type: none;
    text-align: justify;
    color: black;
    text-align: justify;
    line-height: 40px;
}

.formatacao h2{
    text-align: center;
}

#img-pedestres{
    width: 450px;
}

#img-semaforo{
    width: 550px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid div ul li{
    list-style-type: none;
    text-align: justify;

}

#img-sinalização{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-pedestres{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-tecnologia{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-semaforo{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-qualidade{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-sustentabilidade{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-segurança{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-eficiencia{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-colaboração{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

#img-responsabilidade{
    margin: auto;
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.grid ul li{
    text-align: center;
    display: flex;
    justify-content: center;
}

/* --------------------Integrantes-------------------- */

.integrantes{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    background-color:black;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid;
    width: 350px;
    text-align:center;
}

#img-flavia{
    width: 150px;
    height: 150px;
    border-radius: 600px;
}

#img-jacquys{
    height: 155px;
    width: 155px;
    border-radius: 600px;
}

#img-miguel{
    height: 150px;
    width: 150px;
    border-radius: 600px;
}

#img-nicole{
    height: 150px;
    width: 150px;
    border-radius: 600px;
}

#card-img{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.grid #inform-valores h3{
    margin-top: 10px;
}

/* --------------------------Footer------------------------------ */
footer {
    margin-top: 20px;
    position: static;
    background-color: #1A222f;
    color: aliceblue;
    padding: 20px;
    bottom: 0;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

footer div ul li{
    list-style-type: none;
}

.contato{
    border-right: 2px solid white;
}

.telefone{
    border-right: 2px solid white;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

button{
    background-color: black; 
    color: #fff; 
    padding: 10px 20px; 
    width: 80px;
    height: 30;
    border: none; 
    border-radius: 3px; 
    font-size: 12px; 
    font-weight: bold;
    cursor: pointer; 
}  

button a{
    margin: 10px;
    text-decoration: none;
    color: white;
}

.botao{
    margin: 0 auto;
    display: block;
    padding: 10px !important;
}

input{
    padding: 5px; 
    margin-bottom: 10px;
    border: 2px solid #ccc; 
    border-radius: 3px; 
    font-size: 14px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
