*{
    margin: 0;
    padding: 0;
}

/* --------------------Index-------------------- */
header {
    position: sticky;
    left: 0;
    top: 0;
}


nav {
    background-color:#1A222F;
    padding: 5px 0px;
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

nav .nav-links ul {
    margin-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links ul img {
    margin-left: 30px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50px;
}

nav .nav-links ul li a {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 15px;

}

nav div ul li a:hover {
    background-color: #D5DCE5;
    border: 1px solid;
    border-radius: 10px;
}

/* --------------------Empressa-------------------- */

#lista-missao h3{
    margin-top: 15px;
    text-align: center;
}

#lista-missao ul{
    margin-top: 10px;
}


#valores h1{
    margin-top: 2px;
}

#valores h3{
    margin-top: 15px;
}

#valores p{
    margin-top: 10px;
}

#img-pedestres{
    width: 450px;
}

#img-semaforo{
    width: 550px;
}

.grid{
    display: flex;
    justify-content: center;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid;
    width: 900px;
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid div ul li{
    list-style-type: none;
    text-align: justify;

}

#img-pedestres{
    margin: auto;
    margin-top: 15px;
}

#img-semaforo{
    margin: auto;
    margin-top: 15px;
}

.grid ul li{
    text-align: center;
    display: flex;
    justify-content: center;
}