*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------------Index-------------------- */

header {
    position: sticky;
    left: 0;
    top: 0;
}

nav {
    background-color: #1A222f;
    padding: 5px 0px; 
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

}

nav .nav-links ul {
    margin-right: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav .nav-links ul img {
    margin-left: 30px;
    width: 80px;
    border: 2px solid transparent;
    border-radius: 50px;
}

nav .nav-links ul li a {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 15px;

}

nav div ul li a:hover {
    background-color: #D5DCE5;
    border: 1px solid;
    border-radius: 10px;
}

/*---------------------Projeto--------------------*/

.titulo{
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video video{
    width: 600px;
    margin-top: 40px;
}
.video{
   display: flex;
   justify-content: center;
   align-items: center;
}

.imagem img{
    width: 190px;
    height: 275px;
}

.imagem_2 img{
    width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 3px;
    width: 900px;
    color: white;
   
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
}

.componentes{
   margin-top: 30px;
   text-align: center;
}

.paragrafo_1, .paragrafo_2, .paragrafo_3{
    margin-top: 30px;
}